*{
    box-sizing: border-box;
    background-color: darkgray;
}

header{
    background-color: darkslategrey;
}

header h1{
    font-family: serif, sans-serif;
    font-size: 40px;
    font-weight:650;
    text-align: center;
    color:darkslategrey;
}

header h3{
    font-family: cursive;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: darkslategrey;
}

.hero-image img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.hero-header{
    font-family: serif, sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: darkslategray;
}

p, ul, ol, li{
    font-family: Georgia; 
    font-size: 26px;
    letter-spacing: normal;
    color: black;
    text-align: justify;
    margin: 0;
}

a:link{
    color: blue;
}

a:visted{
    color:aqua;
}

a:hover{
    color:chartreuse;
}

a:active{
    color: red;
}


footer{
    background-color: darkslategrey;
}

footer img{
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 5%
}